<section>
  <h3>My Notebook</h3>
  <ul>
    <li>
      <button class="note">
        <p>Title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Dolor accumsan quisque
          tincidunt semper erat pulvinar aenean laoreet. A in nulla odio nibh id
          felis volutpat mauris. Interdum pretium viverra pellentesque
          fermentum. Posuere leo tellus tellus nulla sagittis pellentesque
          scelerisque.
        </p>
        <div>
          <!-- TODO: make dynamic for time note was created -->
          <span>Just now</span>
          <button class="delete-note">
            <img src="" alt="delete note" />
          </button>
        </div>
      </button>
    </li>
  </ul>
</section>
